<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="CSS/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body >
    <header class="header-completo"> 
        <nav class="nav-header">
            <div class="header-top">
                <img class="logo-header" src="/images/logo.svg">                                        
                    <div class="header-input">
                        <input type="text">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button><br>
                    </div>
            </div>    
                <div class="frase-logo-header">
                    <h1><i class="fa-solid fa-hand-holding-dollar">                                    
                        </i>Comprá al mejor precio y en cuotas    
                    </h1>
                </div>          
        </nav> 
                <div class="lista-navegacion-header">
                   <ul>
                        <li><a href="/ofertas">Ofertas</a></li>
                        <li><a href="/servicios">Servicios</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>
                        <br>
                        <li><a href="/registro">Crea tu cuenta</a>
                        <i class="fa-sharp fa-regular fa-address-card"></i>
                        </li>
                        <li><a href="/ingreso">Ingresa</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                        </li>
                        <li><a href="/carrito">Mis compras</a>
                        <i class="fa-solid fa-basket-shopping"></i>
                        </li>
                    </ul>
                </div>            
                <div class="icono-burga-header">                      
                    <i class="fas fa-bars icono-burga-clase"></i>
                </div>                              
    </header>                        
    <main class="main-completo">
        <img class="foto-banner-main-ultima-visita" src="/images/banner.jpg">                                
            <section class="section-main-ultima-visita">
                <h1 class="titulo-main-ultima-visita">Basado en tu última visita</h1>
                    <article class="article-main-ultima-visita">
                        <img class="foto-article-main-ultima-visita" src="/images/cafetera.jpg">
                            <div class="contenido-article-main-ultima-visita">   
                                <div class="icono-envio-ultima-visita">
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ultima-visita"> 
                                    <p>$6.770</p>
                                </div>
                                <div class="descuento-article-main-ultima-visita">
                                    <p>40% OFF</p> 
                                </div>
                                <div class="nombre-article-main-ultima-visita">
                                    <p>Cafetera Moulinex</p>
                                </div>
                                <div class="icono-carrito-main-ultima-visita">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div> 
                    </article>
                    <article class="article-main-ultima-visita">
                        <img class="foto-article-main-ultima-visita" src="/images/mac.jpg">
                            <div class="contenido-article-main-ultima-visita">                             
                                <div class="icono-envio-ultima-visita">                                        
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ultima-visita">                                
                                    <p>$230.000</p>
                                </div>
                                <div class="descuento-article-main-ultima-visita">
                                    <p>20% OFF</p>
                                </div>
                                <div class="nombre-article-main-ultima-visita">
                                    <p class="nombreproducto">MacBook Pro 2019</p>
                                </div> 
                                <div class="icono-carrito-main-ultima-visita">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                    </article> 
                    <article class="article-main-ultima-visita">
                        <img  class="foto-article-main-ultima-visita" src="/images/samsung.jpg">
                            <div class="contenido-article-main-ultima-visita">
                                <div class="icono-envio-ultima-visita">                                  
                                    <i class="fa-solid fa-truck iconoenvio"></i>    
                                </div>
                                <div class="precio-article-main-ultima-visita">                                
                                    <p>$70.500</p>
                                </div>
                                <div class="descuento-article-main-ultima-visita">
                                    <p>10% OFF</p>
                                </div>
                                <div class="nombre-article-main-ultima-visita">
                                    <p>Samsung Galaxy S10</p>
                                </div>
                                <div class="icono-carrito-main-ultima-visita">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                    </article>         
                    <article class="article-main-ultima-visita">
                        <img class="foto-article-main-ultima-visita" src="/images/tv.jpg">
                            <div class="contenido-article-main-ultima-visita">
                                <div class="icono-envio-ultima-visita">
                                    <i class="fa-solid fa-truck iconoenvio"></i>    
                                </div>
                                <div class="precio-article-main-ultima-visita">
                                    <p>$23.200</p>
                                </div>
                                <div class="descuento-article-main-ultima-visita">
                                    <p>5% OFF</p>
                                </div>
                                <div class="nombre-article-main-ultima-visita">
                                    <p>SmartTv Samsung 43"</p>
                                </div>
                                <div class="icono-carrito-main-ultima-visita">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                    </article>                  
                </section>
                <section class="section-main-ofertas">
                    <h1 class="titulo-main-ofertas">Sección de ofertas</h1>
                        <article class="article-main-ofertas">
                            <img class="foto-article-main-ofertas" src="/images/cafetera.jpg">
                            <div class="contenido-article-main-ofertas">
                                <div class="icono-envio-ofertas">
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ofertas">
                                    <p>$6.770</p>
                                </div>
                                <div class="descuento-article-main-ofertas">
                                    <p>40% OFF </p>
                                </div>
                                <div class="nombre-article-main-ofertas">
                                    <p>Cafetera Moulinex</p>
                                </div>
                                <div class="icono-carrito-main-ofertas"> 
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </article>
                        <article class="article-main-ofertas">
                            <img class="foto-article-main-ofertas" src="/images/mac.jpg">
                            <div class="contenido-article-main-ofertas">
                                <div class="icono-envio-ofertas">
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ofertas">                        
                                    <p>$230.000</p>
                                </div>
                                <div class="descuento-article-main-ofertas">
                                    <p>20% OFF</p>
                                </div>
                                <div class="nombre-article-main-ofertas">
                                    <p>MacBook Pro 2019</p>
                                </div>
                                <div class="icono-carrito-main-ofertas">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </article>
                        <article class="article-main-ofertas">
                            <img class="foto-article-main-ofertas" src="/images/samsung.jpg">
                            <div class="contenido-article-main-ofertas">
                                <div class="icono-envio-ofertas">
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ofertas">
                                    <p>$70.500</p>
                                </div>
                                <div class="descuento-article-main-ofertas">
                                    <p>10% OFF</p>
                                </div>
                                <div class="nombre-article-main-ofertas">
                                    <p>Samsung Galaxy S10</p>
                                </div>   
                                <div class="icono-carrito-main-ofertas">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>
                        </article>
                        <article class="article-main-ofertas">                            
                            <img class="foto-article-main-ofertas" src="/images/tv.jpg">
                            <div class="contenido-article-main-ofertas">
                                <div class="icono-envio-ofertas">
                                    <i class="fa-solid fa-truck iconoenvio"></i>
                                </div>
                                <div class="precio-article-main-ofertas">
                                    <p>$23.200</p>
                                </div>
                                <div class="descuento-article-main-ofertas">
                                    <p>5% OFF</p>
                                </div>
                                <div class="nombre-article-main-ofertas"> 
                                    <p>SmartTv Samsung 43"</p>
                                </div>
                                <div class="icono-carrito-main-ofertas"> 
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </div>
                            </div>                                                              
                        </article>
                </section>
    </main>    
    <footer class="footer-completo">
        <img class="logo-footer" src="/images/logo.svg"> 
            <div class="conjunto-section-footer">
                <section class="section-footer">
                        <article class="article-pagos-footer">
                                <h1>Pagá con tarjeta o en efectivo<i class="fa-solid fa-credit-card texto.footer"></i></h1>                                                                
                                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. 
                                ¡Y siempre es seguro!
                                </p>
                        </article>    
                </section> 
                <section class="section-footer">
                        <article class="article-envio-footer">
                                <h1>Envío gratis desde $ 2.500<i class="fa-solid fa-gift"></i></h1>
                                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                                productos. Es un beneficio de Mercado Puntos.
                                </p>
                        </article>
                </section>
                <section class="section-footer">
                        <article class="article-seguridad-footer">
                                <h1>Seguridad, de principio a fin<i class="fa-solid fa-user-shield"></i></h1>
                                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                                porque estás siempre protegid@.
                                </p>
                        </article>
                </section> 
                <section class="section-footer">
                        <article class="article-copyright-footer">
                            <h1>Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>                           
                        </article>
                </section>
            </div> 
    </footer>
</body>
</html>